In [2]:
import pandas as pd

## Extraction

In [3]:
df = pd.read_csv('call details.csv')

In [4]:
df2 = pd.read_csv('call log.csv')

## Understanding the dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   callID                 600 non-null    object
 1   callDurationInSeconds  600 non-null    int64
 2   agentsGradeLevel       600 non-null    object
 3   callType               600 non-null    object
 4   callEndedByAgent       600 non-null    bool
dtypes: bool(1), int64(1), object(3)
memory usage: 19.5+ KB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         600 non-null    int64
 1   callerID                   600 non-null    object
 2   agentID                    600 non-null    int64
 3   complaintTopic             600 non-null    object
 4   assignedTo                 372 non-null    float64
 5   status                     600 non-null    object
 6   resolutionDurationInHours  187 non-null    float64
dtypes: float64(2), int64(2), object(3)
memory usage: 32.9+ KB

--change 'assignedto' from float to integer and fill missing values
--clean 'status' column entries
--fix 'agentsgradelevel' column
--clean 'callID' column
--fill missing 'resolutiondurationinhours' with not provided
--clean 'inbound' column(change to a consistent format)
--rename all columns to the same format

In [7]:
df

,callID,callDurationInSeconds,agentsGradeLevel,callType,callEndedByAgent
0,ageentsGradeLevel,97,A,Inbound,False
1,2,64,E,in-bound,True
2,3,100,C,in-bound,False
3,4,69,D,Outbound,True
4,5,96,D,Inbound,True
...,...,...,...,...,...
595,596,147,E,Outbound,True
596,597,90,A,in-bound,True
597,598,89,F,Outbound,True
598,599,146,D,Inbound,False
599,600,103,C,Outbound,False

In [8]:
df2

,id,callerID,agentID,complaintTopic,assignedTo,status,resolutionDurationInHours
0,1,CALLER_1,163,Billing discrepancy,122.0,CLOSED,33.0
1,2,CALLER_2,133,Difficulty reaching customer support,NaN,new,NaN
2,3,CALLER_3,153,Wrong item received,122.0,resolved,NaN
3,4,CALLER_4,161,Unauthorized charges,151.0,pEnding,NaN
4,5,CALLER_5,148,Unprofessional behavior,NaN,new,NaN
...,...,...,...,...,...,...,...
595,596,CALLER_596,137,Unhelpful support,169.0,new,NaN
596,597,CALLER_597,159,Slow response time,NaN,resolved,NaN
597,598,CALLER_598,148,Shipping delay,150.0,pending,NaN
598,599,CALLER_599,161,Website not working,148.0,pEnding,NaN
599,600,CALLER_600,127,Wrong item received,149.0,resolved,NaN

In [9]:
df2['status'].value_counts()

status
pending     107
resolved    105
pEnding     105
closed       97
new          96
CLOSED       90
Name: count, dtype: int64

## Cleaning

In [10]:
# Fill missing 'assignedTo' values with agent ID where missing
df2['assignedTo'].fillna(df2['agentID'], inplace=True)

In [11]:
# Convert 'assignedTo' to integer
df2['assignedTo'] = df2['assignedTo'].astype(int)

In [12]:
#clean 'status' column entries
df2['status'].replace({'pEnding': 'pending', 'CLOSED': 'closed'}, inplace=True)

In [13]:
# clean 'callID' column
df['callID'].replace('ageentsGradeLevel', 1 , inplace=True)

In [14]:
#fill missing 'resolutiondurationinhours' with not provided
df2['resolutionDurationInHours'].fillna('Not provided', inplace=True)

C:\Users\Rosemary\AppData\Local\Temp\ipykernel_22832\1339681963.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Not provided' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df2['resolutionDurationInHours'].fillna('Not provided', inplace=True)

In [15]:
# clean 'inbound' column(change to a consistent format)
df['callType'].replace('in-bound', 'Inbound' , inplace=True)

In [16]:
# rename all columns to the same format
def clean_column_name(col_name):
    return col_name.strip().lower().replace(' ', '_')

df.rename(columns=clean_column_name, inplace=True)

In [17]:
def clean_column_name(col_name):
    return col_name.strip().lower().replace(' ', '_')

df2.rename(columns=clean_column_name, inplace=True)

In [18]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         600 non-null    int64
 1   callerid                   600 non-null    object
 2   agentid                    600 non-null    int64
 3   complainttopic             600 non-null    object
 4   assignedto                 600 non-null    int32
 5   status                     600 non-null    object
 6   resolutiondurationinhours  600 non-null    object
dtypes: int32(1), int64(2), object(4)
memory usage: 30.6+ KB

In [19]:
df.columns

Index(['callid', 'calldurationinseconds', 'agentsgradelevel', 'calltype',
       'callendedbyagent'],
      dtype='object')

In [20]:
dict = {'callid':'call_id', 
        'calldurationinseconds':'call_duration_in_seconds', 
        'agentsgradelevel':'agents_grade_level', 
        'calltype': 'call_type',
        'callendedbyagent':'call_ended_by_agent'}
df.rename(columns=dict,
          inplace=True)

In [21]:
df2.columns

Index(['id', 'callerid', 'agentid', 'complainttopic', 'assignedto', 'status',
       'resolutiondurationinhours'],
      dtype='object')

In [22]:
dict = {'callerid':'caller_id', 
        'agentid':'agent_id', 
        'complainttopic': 'complaint_topic',
        'assignedto':'assigned_to',
        'resolutiondurationinhours':'resolution_duration_in_hours'}
df2.rename(columns=dict,
          inplace=True)

In [23]:
df2

,id,caller_id,agent_id,complaint_topic,assigned_to,status,resolution_duration_in_hours
0,1,CALLER_1,163,Billing discrepancy,122,closed,33.0
1,2,CALLER_2,133,Difficulty reaching customer support,133,new,Not provided
2,3,CALLER_3,153,Wrong item received,122,resolved,Not provided
3,4,CALLER_4,161,Unauthorized charges,151,pending,Not provided
4,5,CALLER_5,148,Unprofessional behavior,148,new,Not provided
...,...,...,...,...,...,...,...
595,596,CALLER_596,137,Unhelpful support,169,new,Not provided
596,597,CALLER_597,159,Slow response time,159,resolved,Not provided
597,598,CALLER_598,148,Shipping delay,150,pending,Not provided
598,599,CALLER_599,161,Website not working,148,pending,Not provided
599,600,CALLER_600,127,Wrong item received,149,resolved,Not provided

In [24]:
df.to_csv('cleaned_call_details.csv', index=False)

In [25]:
df2.to_csv('cleaned_call_log.csv', index=False)

In [26]:
all_df = pd.concat([df, df2], axis=1)

In [28]:
all_df.to_csv('cleaned_data_set.csv', index=False)